/* @font-face kit by Fonts2u (https://fonts2u.com) */ 

@font-face {
	font-family:"STARWARS";
	src:url("STARWARS.woff") format("woff");
	font-weight:normal;
	font-style:normal;
}

h1 {
	font-family: 'STARWARS';
	color: #ffffff;
	font-weight: 900;
	font-size: 2rem;
}

hr {
	background: #f39c12;
}

.subtitle {
	border-bottom: 4px solid #e74c3c;
	width: 6em;
	font-size: 1.5rem;
}

.white {
	color: #ecf0f1;
}

.bg-white {
	background-color: #ecf0f1;
}

.b--yellow {
	border-color: #e74c3c;
}
